{% extends 'main/layout.html' %}

{% block title %}Новости{% endblock %}

{% block content %}
<div class="main">
    <h1>Новости</h1>
<div class="box">
    <div class="alert-warning">
        <h2 class="title">{{ article.title }}</h2>
        <p>{{ article.data }}</p>
        <p>{{ article.full_text }}</p>
        <div class="formTitle">
        <a href="{% url 'news-delete' article.id %}" class="btn btn-danger">Удалить</a>
        <a href="{% url 'news-update' article.id %}" class="btn btn-success">Редактировать</a>
        </div>
    </div>
</div>
  </div>
{% endblock %}